{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="d-flex flex-column align-content-center" style="flex-direction: column">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div style="text-align: center;" class="mt-3">
          <h2 class="account-heading text-white">{{ user.username }}</h2>
          <p class="text-primary">{{ user.email }}</p>
        </div>
      </div>
       <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4 mt-5">Ваш профиль</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-primary" type="submit">Обновить</button>
          </div>
      </form>
    </div>
{% endblock content %}
