{% extends 'base.html' %}
{% block content %}
  <h1 class="mb-3 mt-3 h1 text-white">Артисты</h1>
  <a class="btn btn-primary mb-5 mt-2" href="{% url 'polls:questions' %}">Участвовать в жизни артистов</a>
  <div class="artists-block">
    {% for artist in artists  %}
      <div class="home-blog-post-card">
            <img alt="image" src="{{ artist.image.url }}" class="home-image"/>
            <div class="home-container1">
              <h1 class="text-white">{{ artist.nickname }}</h1>
              <span class="home-text1" style="word-break: break-all; color: lightgray;">{{ artist.shortBio }}</span>
              <div class="home-container2">
                <div class="home-profile">
                  <img alt="profile" src="{{ artist.image.url }}" class="home-image1"/>
                  <span class="home-text2" style="color: lightgray;">{{ artist.name }} {{ artist.surname }}</span>
                </div>
                <a href="{% url 'artists:artist_detail' artist.id artist.nickname %}"><span class="home-text3" style="color: lightgray;"> Узнать больше -&gt;</span></a>
              </div>
            </div>
          </div>
    {% endfor %}
  </div>



{% endblock %}
